@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .section-info {
    @apply text-2xl font-bold text-gray-600 dark:text-white border-b-2 dark:border-sky-700 border-purple-800 w-fit mx-auto;
  }
  .icon-class {
    @apply text-xl text-default-500 pointer-events-none flex-shrink-0;
  }
  .login-input {
    @apply block w-full rounded-md border-0 p-2 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }
  .login-label {
    @apply block text-sm font-medium leading-6 text-gray-900 dark:text-white;
  }
}
body {
  font-family: "Nunito", sans-serif;
}
.swiper {
  margin: 70px 0;
  width: 240px;
  height: 350px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 20px;
}
